<div id="first-section">
    <center>
        <h1>Twist Four</h1>
    </center>
    <div class="release">
        <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
        <div class="release-text">
            <h2 class="release-title">Twist Four</h2>
            <p class="release-text">A two player logic game that involes placing squares on rotating blocks.</p><br>
            <p class="release-text">Play against other players or against the computer AI.</p>
            <a href="http://twistfour.com" target="_blank"><button class="play-now-button">Play Now!</button></a>
        </div>
    </div>
    
</div>

<div id="second-section">
    <h3>Rules</h3>
    
    <p>- A player has 2 moves, one place move then one twist move.</p>

    <p>- The first player to get four in a row wins.</p>

    <p>- You cannot place pieces over opponents pieces.</p> 

</div>