<div class="third-section">
    <div class="about-me-container">
        <a href="#/about"><h2 class="hvr-pulse-grow centered">About Me</h2></a>
        <div class="about-me-grid centered">
            <p class="about-me-p">I like to learn new things and solve really difficult problems. I like the challenge of representing a portion of reality with logical symbols and systems. I have the ability to see patterns in abstract mathematical symbols. I will never substitute reality for elegance, nor will I give the people who use my model false comfort about its accuracy, instead I will make explicit its assumptions and oversights.<br><br>

            Currently living in Ipswich, England. I have a rich portfolio of interactive websites and API's. I have over 6 years professional experience in web development and many more years of hobby experience.</p>
            <img src="./img/me_and_puggie.jpg" class="me-pic">
        </div>
    </div>
</div>