<div class="third-section">
    <div class="about-me-container">
        <a href="#/about"><h1 class="hvr-pulse-grow centered">About Me</h1></a>
        <div class="about-me-grid centered">
            <p class="about-me-p">

            	My name is Kasper and I am a professional web developer, with over 7 years of industry experience, specializing in fintech, mobile apps and data visualisation. I currently work in financial services and as a consultant creating web pages and apps for a range of different clients in different sectors.<br><br>

            	In my spare time I like to play the ukulele, collect gadgets and hardware, create art and spend time with my wife and dog.
            </p>
            <img src="./img/me_and_puggie.jpg" class="me-pic">
        </div>
    </div>
</div>