@font-face {
    font-family: coolvetica;
    src: url(./coolvetica.ttf);
}

@font-face {
    font-family: luna;
    src: url(./Luna.ttf);
}

@font-face {
    font-family: blowbrush;
    src: url(./blowbrush.ttf);
}

@font-face {
    font-family: HACKED;
    src: url(./coolvetica.ttf);
}

.cool {
  font-family: coolvetica;
}

html {
    font-family: sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #231f20;
    min-width: 640px;
}

a {
    text-decoration: none;
}

a:link {
  color: #231f20;
  text-decoration: inherit; /* no underline */
}


a:hover {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

h1, h2 {
    padding: 30px 0;
    font-family: HACKED;
}

h1 {
    font-size: 50px;
    padding: 20px 0 0 0;
}

p {
    font-size: 20px;
    text-align: justify;
    margin: 40px 0;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 26px;
    }
}

.scroll-container {
    overflow-y: scroll;
    height: calc(100% - 75px);
    position: absolute;
    top: 74px;
    width: 100%;
}

.title-bar {
    height: 72px;
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: #231f20;
    z-index: 99;
    border: solid;
    border-color: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 3px;
}

.services-link,
.about-link {
    float: right;
    top: 10px;
    color: #fff !important;
    font-family: luna;
    padding-right: 40px;
}

.about-link {
    right: 280px;
}

.services-link:hover {
    color: #e6161a;
}
.about-link:hover {
    color: #ffd647;
}

.main-logo {
  width: 240px;
  padding: 10px 30px;
}


.cloth {
    background-image: url(../img/black-linen.png);
    position: absolute;
    width: 100%;
    height: 1150px;
    opacity: 0.2;
}

.billboard-section,
.game-dev-section,
.web-coding-section,
.app-coding-section {
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    border: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.billboard-section {
    background-image: url(../img/chip.jpg);
}

.game-dev-section {
    background-image: url(../img/v40_vaporwave.png);
    background-position: center; 
    height: 700px;
}

.web-coding-section {
    background-image: url(../img/coding-bg.jpg);
}

.app-coding-section {
    background-image: url(../img/app_coding.png);
}

.learn-more-button {
    border-radius: 50px;
    width: 400px;
    height: 80px;
    font-size: 32px;
    text-anchor: middle;
    color: #fff;
    margin: 40px 0 80px 0;
    border-width: 0;
    font-family: luna;
    padding: 12px;
}

.learn-more-button {
    background-color: #ed1c24;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.2s;
}

.learn-more-button:hover {
    cursor: pointer;
    background-color: #ffd647;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.3s;
}

.me-pointing {
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background-image: url(../img/work-me.png);
    background-size: cover;
    background-attachment: fixed;
    border: solid;
    border-left: 0;
    border-right: 0;
}

.first-section {
    padding: 20px;
}

.first-section h1 {
    /*color: #ed1c24;*/
    font-weight: bold;
}

.second-section {
    background-color: #ed1c24;
    min-height: 200px; 
    color: #fff;
    padding: 20px;
}    

.third-section {
    background-image: url(../img/coding-bg.png);
    min-height: 460px;
    color: #fff;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: solid;
    border-left: 0;
    border-right: 0;
    border-color: #000;
}   

.ad-container {
    height: 100px;
    background-color: #231f20;
    padding: 10px 0 0 0;
}

#footer-section {
    min-height: 200px;
    padding: 40px;
    background-color: #231f20;
    color: #fff;
}

.social-media-icon {
    margin: 0 20px 0 20px;
}

#footer-hr {
    margin: 0;
}

.centered {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.me-pic {
    width: 200px;
    border-radius: 150px;
    float: left;
}

.banner-credit {
    float: right;
    position: relative;
    top: -100px;
    padding-right: 10px;
    color: #fff !important;

}

#container {
    background-color: #eee;
}

.release .release-title:hover {
    cursor: pointer;
}    

.release-thumbnail {
    cursor: pointer;
}

.release-text {
    float: left;
    margin: 10px;
}

.release-text p {
    margin: 0;
}

.fb-like-container {
    margin: 50px 20px;
}

.release-full {
    display: inline-flex
}

/* mouse over image effects */
.release figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.release figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: fill;
}
.release figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.play-now-button {
    width: 200px;
    height: 60px;
    color: #FFF;
    background-color: #ed1c24;
    display: block;
    border-radius: 5px;
    font-weight: bold;
}

.play-now-button:hover {
    cursor: pointer;
}

.about-me-grid {
    display: inline-grid;
}

.about-me-grid .about-me-p {
    left: 250px;
    position: absolute;
    margin-top: 40px;
}


@media (max-width : 1220px) {

    .fb-like-section,
    .about-section,
    .releases-container,
    .pricing-container,
    .about-company-container,
    .about-me-container {
        max-width: 980px;
        margin: auto;
    }

    .release {
        width: 420px;
        height: 580px;
        display: inline-block;
        background-color: #fff;
        margin: 20px;
    }

    .release .release-title {
        font-size: 20px;
        font-weight: bold;
        padding: 2px 6px;
    }

    .release figure {
        max-width: 420px;
        height: 280px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .release img {
        width: 420px;
    }

}


@media (min-width : 1220px) {

    .fb-like-section,
    .about-section,
    .releases-container,
    .pricing-container,
    .about-company-container,
    .about-me-container {
        max-width: 1180px;
        margin: auto;
    }

    .release {
        width: 350px;
        height: 580px;
        display: inline-block;
        background-color: #fff;
        margin: 20px;
    }

    .release .release-title {
        font-size: 30px;
        font-weight: bold;
        padding: 2px 6px;
    }

    .release figure {
        max-width: 350px;
        height: 240px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .release img {
        width: 350px;
    }

}

.releases-container {
    margin-top: 40px;
}
