<div id="first-section">
    <center>
        <h1>New Releases</h1>
    </center>

    <div class="release">
        <a href="#/twistfour"><figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure></a>
        <div class="release-text">
            <a href="#/twistfour"><h2 class="release-title">Twist Four</h2></a>
            <p class="release-text">A two player logic game that involes placing squares on rotating blocks.</p><br>
            <p class="release-text">Play against other players or against the computer AI.</p>
        </div>
    </div>

    
    <div class="release">
        <a href="#/justynas_christmas_chaos"><figure><img src="./img/Screenshot_1.png" class="release-thumbnail"></figure></a>
        <div class="release-text">
            <a href="#/justynas_christmas_chaos"><h2 class="release-title">Justyna's Christmas Chaos</h2></a>
            <p class="release-text">Help Justyna catch santa's falling presents!</p><br>
        </div>
    </div>


</div>

<div id="second-section">
    <h2>About Me</h2>
    <p>I am an indie game developer since 2013. Based in Göteborg Sweden.</p>
    <p>I have a keen interest in web technologies and a background in software development and computer science.</p>

</div>