<div id="first-section">
    <center>
        <h1>Justynas Christmas Chaos</h1>
    </center>
    <div class="release">
        <figure><img src="./img/Screenshot_1.png" class="release-thumbnail"></figure>
        <div class="release-text">
            <h2 class="release-title">Justyna's Christmas Chaos</h2>
            <p class="release-text">Help Justyna catch santa's falling presents!</p><br>
            <p class="release-text">Available on android. Follow the link below.</p><br>

            <a href='https://play.google.com/store/apps/details?id=com.kappisan.games.justynaadventures&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>

        </div>
    </div>
    
</div>

<div id="second-section">
    <h2>About us</h2>
    We are an indie game studio since 2013

</div>