<div class="about-section">
    <h1 class="centered">About</h1>
        
	<p>Kappisan is a small company that specialises in website design, website development, ecommerce website development, content management systems, conversion optimisation, app development, video production and hosting.</p>

    <img src="./img/work-me.png" style="width:100%;">

    <p>Based in Ipswich, UK, kappisan is a design firm specializing in the development and deployment of custom websites and API's tailored to any business need.</p>
</div>

<div ng-include="'./templates/components/about-me.html'"></div>