<div class="billboard-section">

</div>

<div class="cloth"></div>
<div id="first-section">
    <h1 class="hvr-pulse-grow centered">Portfolio</h1>

    <div class="releases-container">
        <div class="release">
            <a href="http://kasperwilkosz.com"><figure><img src="./img/me.jpg" class="release-thumbnail"></figure></a>
            <div class="release-text">
                <a href="#/twistfour" class="hvr-grow-rotate"><h2 class="release-title">Kasper Wilkosz</h2></a><br>
                <p class="release-text">My personal website where you can find out about me personally see my latest work.</p><br>
            </div>
        </div>

        <div class="release">
            <a href="#/twistfour"><figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure></a>
            <div class="release-text">
                <a href="#/twistfour" class="hvr-grow-rotate"><h2 class="release-title">Twist Four</h2></a><br>
                <p class="release-text">A two player logic game that involes placing squares on rotating blocks.</p><br>
                <p class="release-text">Play against other players or against the computer AI.</p>
            </div>
        </div>

        <div class="release">
            <a href="#/justynas_christmas_chaos"><figure><img src="./img/Screenshot_1.png" class="release-thumbnail"></figure></a>
            <div class="release-text">
                <a href="#/justynas_christmas_chaos" class="hvr-wobble-vertical"><h2 class="release-title">Justyna's Christmas Chaos</h2></a><br>
                <p class="release-text">Help Justyna catch santa's falling presents!</p><br>
            </div>
        </div>
    </div>

    <div class="fb-like-section">
        <div class="fb-like-container">
            <div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
        </div>
    </div>
</div>

<div id="second-section">
    <div class="about-company-container">
        <h2 class="hvr-pulse-grow centered">The company</h2>
        <p class="about-company-p">Kappisan is an Ipswich based website design firm specializing in the design and development of custom websites and API's started in Göteborg Sweden 2015.</p>
    </div>
</div>


<div id="third-section">
    <div class="about-me-container">
        <h2 class="hvr-pulse-grow centered">About Me</h2>
        <div class="about-me-grid centered">
            <p class="about-me-p">I like to learn new things and solve really difficult problems. I like the challenge of representing a portion of reality with logical symbols and systems. I have the ability to see patterns in abstract mathematical symbols. I will never substitute reality for elegance, nor will I give the people who use my model false comfort about its accuracy, instead I will make explicit its assumptions and oversights.<br><br>

            Currently living in Ipswich, England. I have a rich portfolio of interactive websites and API's. I have over 6 years professional experience in web development and many more years of hobby experience.</p>
            <img src="./img/me_and_puggie.jpg" class="me-pic">
        </div>
    </div>
</div>