<!-- HOME -->

<!-- parallax picture of computer code -->
<div class="billboard-section"></div>

<a href="https://archy13.artstation.com/" class="banner-credit"><p>Image Credit: Александр Овчаренко</p></a>

<div class="about-section">
    <h1 class="centered">Custom Websites</h1>
    <div class="about-box">
        <p>Kappisan is a Sole Trader company in the UK that specialises in website design, website development, ecommerce website development, content management systems, conversion optimisation, app development, video production and hosting.</p>
        
        <img src="./img/design.png">

        <p>Based in Ipswich, UK, kappisan is a design firm specializing in the development and deployment of professional, custom websites and API's tailored to any business need.</p>

        <center><a href="#/services"><button class="learn-more-button">Learn More</button></a></center>
    </div>
</div>

<!-- parallax picture of me at work -->
<div class="me-pointing"></div>

<!--<div class="cloth"></div>-->
<div class="first-section">

    <h1 class="hvr-pulse-grow centered">Portfolio</h1>

    <div class="releases-container">
        <div class="release">
            <a href="http://kasperwilkosz.com"><figure><img src="./img/me.jpg" class="release-thumbnail"></figure></a>
            <div class="release-text">
                <a href="http://kasperwilkosz.com" class="hvr-grow-rotate"><h2 class="release-title">Kasper Wilkosz</h2></a><br>
                <p>My personal website where you can find out about me personally see my latest work.</p><br>
            </div>
        </div>

        <div class="release">
            <a href="http://twistfour.com"><figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure></a>
            <div class="release-text">
                <a href="http://twistfour.com" class="hvr-grow-rotate"><h2 class="release-title">Twist Four</h2></a><br>
                <p>A two player logic game that involes placing squares on rotating blocks. Play against other players or against the computer AI.</p>
            </div>
        </div>

        <div class="release">
            <a href="#/justynas_christmas_chaos"><figure><img src="./img/Screenshot_1.png" class="release-thumbnail"></figure></a>
            <div class="release-text">
                <a href="#/justynas_christmas_chaos" class="hvr-wobble-vertical"><h2 class="release-title">Justyna's Christmas Chaos</h2></a><br>
                <p>Help Justyna catch santa's falling presents!</p><br>
            </div>
        </div>
    </div>

    <div class="fb-like-section">
        <div class="fb-like-container">
            <div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
        </div>
    </div>
</div>

<div ng-include="'./templates/components/about-me.html'"></div>