<!-- PRICING -->

<!-- parallax picture of computer code -->
<!--<div class="billboard-section"></div>-->

<!--<div class="cloth"></div>-->
<div style="padding-top: 120px;"></div>
<div class="first-section">
    <h1 class="hvr-pulse-grow centered">Pricing</h1>

    <div class="pricing-container">

        <table class="pricing-table" style="width: 100%;">
            <tr>
                <th>Service</th>
                <th>Price</th>
                <th>Renewal</th>
            </tr>
            <tr>
                <td>Custom Website</td>
                <td>Call to get a quote</td>
                <td> </td>
            </tr>
            <tr>
                <td>Custom Domain</td>
                <td>Subject to availability - from £20</td>
                <td>yearly</td>
            </tr>
            <tr>
                <td>Static - Hosting</td>
                <td>£10</td>
                <td>monthly</td>
            </tr>
            <tr>
                <td>API - Hosting</td>
                <td>£20</td>
                <td>monthly</td>
            </tr>
        </table>

    </div>
</div>