<!-- SERVICES -->

<!-- parallax picture of computer code -->
<!--<div class="billboard-section"></div>-->

<!--<div class="cloth"></div>-->
<div style="padding-top: 120px;"></div>
<div class="first-section">
    <h1 class="hvr-pulse-grow centered">Services</h1>

    <div class="releases-container">
        <div class="release">
            <figure><img src="./img/design.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Custom Website Design</h2></a><br>
                <p class="release-text">Create your custom web page from scratch tailored to purpouse.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/hosting.jpg" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Website Hosting</h2></a><br>
                <p class="release-text">Super fast hosting solutions and very high bandwidth. Servers in every continent for fast loading anywhere in the world.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/domain_name.jpg" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Custom Domain Name</h2></a><br>
                <p class="release-text">Register your own domain name as a .com .net .co.uk .org and countless others</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/seo.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Search Engine Optimization</h2></a><br>
                <p class="release-text">Improve the visibility of your website in search engine results.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/android_nougat.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Android App Development</h2></a><br>
                <p class="release-text">Create a custom app for your business and publish it to the Play Store.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/data_visualization.jpg" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Analytics and User Interaction</h2></a><br>
                <p class="release-text">Measure your advertising ROI as well as track your Flash, video, and social networking sites and applications.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/api.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">APIs and Databases</h2></a><br>
                <p class="release-text">Serverside processing and functionality and storing data in relational and object oriented databases.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/mobile_app_monetization.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Advertizing and Monetization</h2></a><br>
                <p class="release-text">Generate revenue through advertising or increase your visibility by advertising on other websites.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/wordpress_bg_medblue.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Wordpress</h2></a><br>
                <p class="release-text">Build and maintain beautiful wordpress pages from a variety of rich templates.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/site_maintenance.jpg" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Site Maintanence</h2></a><br>
                <p class="release-text">Modify and update existing sites. Modernizing and fixing bugs.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/services/social-media-icons-stacked.png" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Social Media Integration</h2></a><br>
                <p class="release-text">Connect your website to Facebook, Twitter, Instagram, Google and many more social media API's.</p><br>
            </div>
        </div>

    </div>
</div>