<!-- SERVICES -->

<!-- parallax picture of computer code -->
<div class="billboard-section"></div>

<!--<div class="cloth"></div>-->
<div class="first-section">
    <h1 class="hvr-pulse-grow centered">Services</h1>

    <div class="releases-container">
        <div class="release">
            <figure><img src="./img/me.jpg" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Custom Website Design</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Website Hosting</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Custom Domain Name</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Search Engine Optimization</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Android App Development</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Analytics and User Interaction</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">API's</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Advertizing and Monetization</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Wordpress</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

        <div class="release">
            <figure><img src="./img/twistfour_screenshot.PNG" class="release-thumbnail"></figure>
            <div class="release-text">
                <a class="hvr-grow-rotate"><h2 class="release-title">Site Maintanence</h2></a><br>
                <p class="release-text">text text text.</p><br>
            </div>
        </div>

    </div>
</div>