<!-- SERVICES -->

<div class="first-section">
    <h1 class="hvr-pulse-grow centered">Services</h1>

    <div class="releases-container">
        <a href="#/web_development">
            <div class="release">
                <figure><img src="./img/design.png" class="release-thumbnail" style="padding-top: 60px"></figure>
                <div class="release-text">
                    <a class="hvr-grow-rotate"><h2 class="release-title">Web Development</h2></a><br>
                    <p class="release-text">Create your custom web page from scratch tailored to purpouse, with custom domain names, https, hosting etc.</p><br>
                </div>
            </div>
        </a>
        <a href="#/app_development">
            <div class="release">
                <figure><img src="./img/services/android_nougat.png" class="release-thumbnail"></figure>
                <div class="release-text">
                    <a class="hvr-grow-rotate"><h2 class="release-title">App Development</h2></a><br>
                    <p class="release-text">Create a custom app for your business and publish it to the Play Store / App Store.</p><br>
                </div>
            </div>
        </a>
        <a href="#/blockchain">
            <div class="release">
                <figure><img src="./img/services/blockchain.png" class="release-thumbnail"></figure>
                <div class="release-text">
                    <a class="hvr-grow-rotate"><h2 class="release-title">Blockchain</h2></a><br>
                    <p class="release-text">Add an extra level of data integrity with a blockchain. Tokens, distributed ledgers, proof of work / proof of stake / other consensus algorithms.</p><br>
                </div>
            </div>
        </a>

    </div>
</div>